.mapbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .mapbox-form {
    flex: 0 0 260px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 70px 0 10px 0;

    label {
      display: block;
      font-size: 27px;
      margin-top: 8px;

      input {
        width: 100%;
        background-color: transparent;
        color: white;
        border-radius: 15px;
        border: 3px solid white;
        box-shadow: 0 0 15px white;
        box-sizing: border-box;
        height: 58px;
        text-align: center;
        font-size: 36px;
        font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
        font-weight: bold;
        outline: none;
        margin-top: 2px;
        margin-bottom: 5px;
        text-transform: none;

        &::placeholder {
          color: rgba(255, 255, 255, .4);
        }
      }
    }

    .search {
      width: 100%;
      margin-bottom: 12px;
      border-radius: 15px;
      font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
      font-weight: 700;
      border: 3px solid white;
      box-shadow: 0 0 15px white;
      background-color: #af2963;
      height: 58px;
      font-size: 28px;
      outline: none;
      color: white;
      text-transform: uppercase;
      transition-duration: .2s;
      cursor: pointer;
      opacity: 1;

      &[disabled] {
        cursor: wait;
        opacity: .66;
      }

      &:hover {
        background-color: white;
        color: #af2963;
      }

      &.search-last {
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }

    .my-location-button {
      font-size: 26px;
      cursor: pointer;
      text-align: center;
      width: 100%;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .map {
    flex: 1;
    max-width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
    max-height: 75vh;
    position: relative;
    z-index: 10;
    padding-top: 10px;

    &.swiping::after {
      content: 'Użyj dwóch palców do przesuwania mapy';
      text-transform: none;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-size: 24px;
      font-weight: 300;
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      pointer-events: none;
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 930px) {
  .mapbox-container {
    flex-direction: column;

    .mapbox-form {
      flex: 0 0 100% !important;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      label {
        flex: 0 0 48%;
        width: 48%;
        font-size: 24px;
        text-align: center;

        input {
          font-size: 24px;
          height: 50px;
          border-radius: 5px;
          box-shadow: none;
          border-width: 2px;
        }
      }

      button {
        display: block;
        margin: 0 25%;
        font-size: 24px !important;
        height: 50px !important;
        border-radius: 5px !important;
        box-shadow: none !important;
        border-width: 2px !important;
      }

      .my-location-button {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 570px) {
  .mapbox-container {
    .mapbox-form {
      label {
        font-size: 17px;

        input {
          font-size: 20px;
          padding-top: 9px;
          padding-bottom: 9px;
          line-height: 38px;
          height: 38px;
          box-sizing: border-box;
        }
      }

      button {
        font-size: 18px !important;
        height: 36px !important;
        line-height: 39px;
        box-sizing: content-box;
      }

      .my-location-button {
        font-size: 20px;
      }
    }
  }

  .map {
    max-width: calc(100% + 20px) !important;
    margin-left: -10px;
    margin-right: -10px;
  }
}
